{% extends "base.html.twig" %}
{% block title %}{{parent()}} -Page des Figurines{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('js/bootstrap.bundle.min.js')}}" defer></script>
        <script src="{{ asset('js/script.js')}}" defer></script>
        {% endblock %}
{% block body %}
<main>
    <section class="Rules">
    <h2>Conditions générales de ventes</h1>
        <article>
            <h3>Article 1 - Objet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

        <article>
            <h3>Article 2 - Identification du vendeur</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

        <article>
            <h3>Article 3 - Caractéristiques des biens proposés</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

        <article>
            <h3>Article 4 - Tarif</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

        <article>
            <h3>Article 5 - Commande</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

        <article>
            <h3>Article 6 - Frais d'expédition</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

        <article>
            <h3>Article 7 - Modalités de paiement</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

        <article>
            <h3>Article 8 - Livraisons</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

        <article>
            <h3>Article 9 - Rétraction </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati consequatur reprehenderit veritatis. Neque impedit ex maxime qui deleniti quos, reiciendis quod sequi recusandae sed in provident. Sint, vitae magni. Maiores illo eveniet rerum earum laborum nostrum quod provident commodi!</p>
        </article>

    </section>
</main>

{% endblock %}