{% extends "base.html.twig" %}

{% block body %}
<main>
 <article class="menu_filter">

 <article class="menu_filter">
 <ul>
    <li><a href="#" class="menu-item" data-target="text_hide1">Shop</a></li>
    <li><a href="#" class="menu-item" data-target="text_hide2">Produit</a></li>
    <li><a href="#" class="menu-item" data-target="text_hide3">Livraison</a></li>
    <li><a href="#" class="menu-item" data-target="text_hide4">Ma commande</a></li>
    <li><a href="#" class="menu-item" data-target="text_hide5">Garantie légal de conformité</a></li>
 </ul>
 </article>
 <article id="text_hide1" class="hidden">
    <h4 class="collapsible">Le magasin</h4>
        <p class="content">Shonen Store, c'est aussi le magasin à Orléans et bientot à Tours ! :
            3 rue du Mont corvo
            45000 Orléans
            Besoin d'information ? : 
            contact@shonen-world.com
            02 38 42 24 42
        </p>

            <h4 class="collapsible">Est-il possible de payer en plusieurs fois ?</h4>
        <p class="content">Oui, deux options existent pour régler vos achats en plusieurs fois :

            Alma, solution de paiements en 2, 3 ou 4 fois. Des frais s'ajoutent alors au montant de la commande. Plus le nombre de mensualités est réduit, moins les frais seront importants.
            PayPal 4X sans frais, qui vous permet d'étaler votre paiement en 4 fois, sans frais supplémentaires.
            Au moment du paiement, PayPal et Alma vérifient votre éligibilité au paiement en plusieurs fois. Il se peut que cette option vous soit finalement refusée sans que nous puissions intervenir.

            Un crédit est un engagement contraignant et doit être remboursé, vérifiez votre capacité de remboursement.
        </p>
 </article>

  <article id="text_hide2" class="hidden">
    <h4>Pouvez-vous commander / recommander un produit ?</h4>
        <p class="content">
            Non, nous ne commandons pas de produits qui ne sont pas déjà sur le site et nous ne recommandons jamais un produit ou une pointure épuisé afin de laisser place aux nouveautés. De plus, les figurines tsume, collectors etc. sortent en séries limitées.
            Une fois notre stock vendu, il n'est donc plus possible d'en recommander.
        </p>

            <h4 class="collapsible">Pourrais-je faire une pré-commande sur une figurine tsume ou une figurine collector ?</h4>
        <p class="content">Non, Tsume, distributeur de la marque Tsume, nous interdit les pré-commandes de leurs produits mais par contre, il est possible de faire une réservation en nous contactant directement via notre email : shonenstore_reservation@gmail.com
        </p>

        <h4 class="collapsible">Quand recevrez-vous la nouvelle collection ?</h4>
        <p class="content">Nous recevons tous les jours des nouveaux produits, il n'y a pas de date prédéfinie pour une nouvelle collection globale.
        </p>

            <h4 class="collapsible">Est-ce que vous vendez des contrefaçons ?</h4>
        <p class="content">Non, tous les produits que nous vendons sont garantis 100% authentiques et nous sont livrés par les filiales françaises et européennes des plus grandes marques.
        </p>
 </article>

  <article id="text_hide3" class="hidden">
    <h4 class="collapsible">Quand serai-je livré ?</h4>
        <p class="content"><a href="{{url('other.livraison')}}"></a>
        </p>

    <h4 class="collapsible">Expédiez-vous dans les drom-com ?</h4>
        <p class="content">
        Oui, nous expédions dans les DROM-COM. Les frais de port sont de 30 € pour la Guadeloupe, la Martinique, la Réunion, la Guyane, etc.
        </p>
        <p class="content">
        Pour les livraisons à destination des DROM-COM, le montant total de la commande est le montant hors taxe (HT).
        Par conséquent, lors de la livraison de la commande, des frais d'octroi de mer et la TVA en vigueur régionalement peuvent vous être demandés, afin de finaliser l'importation des articles achetés.
        </p>

    <h4 class="collapsible">Livrez-vous à l'étranger ?</h4>
    <p class="content">Non, nous ne livrons pas à l'étranger, nous livrons qu'en France malheuresement.</p>
 </article>

  <article id="text_hide4" class="hidden">
    <h4 class="collapsible">Est-ce que je peux modifier la taille d'un article ? Est-ce que je peux ajouter un article à ma commande ?</h4>
        <p class="content">Non, une fois votre commande validée, nous ne pouvons plus la modifier. Il sera cependant possible de l'annuler, si le colis n'est pas encore emballé, et de vous rembourser dans un délai de 14 jours maximum par le même moyen qui vous a servi au paiement.
        </p>

    <h4 class="collapsible">Moyens de paiement</h4>
        <p class="content">PAIEMENT SÉCURISÉ DE VOTRE COMMANDE:
Nous vous proposons 3 types de paiements sécurisés:

- Le paiement par carte bancaire (3D Secure) : Votre paiement par carte de crédit est effectué sur l'interface de paiement de notre solution de paiement partenaire, PayPlug. Les informations confidentielles de votre carte de paiement seront chiffrées de manière à ne pas pouvoir être interceptées, et seul PayPlug y aura accès.

Modes de paiement acceptés via PayPlug :

Carte bancaire, Visa, MasterCard, Maestro
American Express
Bancontact
- Par Paypal : Pas besoin d'indiquer vos numéros de CB, votre adresse mail ainsi que le mot de passe de votre compte PayPal suffiront pour finaliser votre paiement sur l'interface de PayPal. Il vous est ensuite possible de régler directement l'intégralité de votre commande, ou de régler vos achats en 4 fois sans frais, sous réserve d'éligibilité par PayPal.

- Par Alma en 2x, 3x ou 4x : En sélectionnant Alma au moment du paiement de votre commande, vous pourrez choisir de régler votre commande en 2, 3 ou 4 fois avec votre carte bancaire. Les frais à régler, dépendant du nombre de paiements choisi, et seront mis à jour avant de valider la commande.
        </p>

    <h4 class="collapsible">Avez-vous reçu mon retour ? Quand sera-t-il traité ?</h4>
        <p class="content">
        Les retours sont réceptionnés dans notre entrepôt et notre équipe logistique ne nous informe de la réception d'un colis qu'après son inspection. Pour savoir si votre retour a bien été réceptionné, merci de consulter le suivi de votre colis.

        Les retours sont inspectés puis traités le mardi, mercredi, jeudi et vendredi en fin de journée. En période de forte affluence (rentrée, fêtes de fin d'année, soldes...), nous traitons en priorité les expéditions et il se peut que les retours ne soient traités que 2 fois par semaine (mercredi et vendredi en général).

        Les remboursements sont effectués dans les 14 jours qui suivent la réception d'un retour.
        </p>

    <h4 class="collapsible">Comment annuler ma commande avant qu'elle ne soit expédiée ?</h4>
        <p class="content">
Dans le cas où vous ne souhaiteriez pas conserver la commande que vous venez de passer merci de contacter au plus vite notre service client qui tentera d'intercepter votre colis auprès de notre entrepôt logistique.
Dans le cas ou le colis serait déjà expédié par notre plateforme, il vous parviendra à l'adresse indiquée dans votre commande et il vous appartiendra de procéder au retour du produit en suivant la procédure de retour.

En revanche si le colis n'est pas encore expédié, nous pourrons effectivement annuler votre commande.
Dans ce dernier cas, vous serez remboursé dans un délai de 14 jours par le même moyen qui vous a servi au paiement.

La procédure est exactement la même lorsque vous souhaitez ne conserver qu'une partie de votre commande. En effet nous ne pouvons plus modifier votre commande à partir du moment où elle a été transmise informatiquement à notre entrepôt et que son statut est passé sur "préparation en cours".
        </p>

    <h4 class="collapsible">Je ne vois pas de remboursement sur mon relevé bancaire après avoir annulé ma commande</h4>
        <p class="content">
Si votre demande d'annulation de commande, et de remboursement a été validée par notre (super efficace !) service client moins de 24h après le passage de votre commande, vous ne verrez pas de remboursement apparaitre sur votre compte bancaire car vous n’avez même pas eu le temps d’être débité !

Si votre demande d'annulation de commande et de remboursement est intervenue plus de 24h après après le passage de votre commande, vous serez remboursé dans un délai de 14 jours par le même moyen qui vous a servi au paiement.
        </p>

    <h4 class="collapsible">Comment faire un retour ?</h4>
        <p class="content"><a href="{{url('other.retours')}}"></a>
        </p>
 </article>

  <article id="text_hide5" class="hidden">
    <h4 class="collapsible">Qu'est-ce que la garantie légale de conformité et quelle est sa durée de validité ?</h4>
        <p class="content">
Afin de garantir cette conformité, le vendeur professionnel est tenu, pendant une durée de 2 ans à compter de la remise des biens au particulier consommateur, à la garantie légale de conformité (articles L217-1 à L217-14 du Code de la consommation).

Cette garantie s'applique aux défauts de conformité déjà présents à la date de livraison.
        </p>

            <h4 class="collapsible">Comment faire valoir mes droits et faire une réclamation en cas de défaut ?</h4>
        <p class="content">
Si vous êtes dans le délai de garantie et que l’article pour lequel vous souhaitez faire une réclamation correspond à un des cas couverts par la garantie légale de conformité (voir les cas ci-dessus), vous pouvez contacter notre service client via ce formulaire en expliquant le problème rencontré et en accompagnant votre demande :

de votre justificatif d'achat,
de photos de l’article et de ses défauts justifiant de la réalité du défaut de conformité.
Le service client validera ensuite votre demande avant de vous proposer la réparation du produit si cela est possible ou un avoir correspondant au montant payé à l’origine pour cet article afin que vous puissiez le remplacer.
        </p>
 </article>
</main>
{% endblock %}