{% extends "base.html.twig" %}

{% block body %}
<main>
        <h2>Services Shonen Store</h2>
        <Section class="Articles-news">
            <article class="text-news">
                <h3 class ="border-bottom border-dark pb-3 mb-3">Promos sur les articles dragon ball Z !</h3>
                <figure> 
                    <img class="img_slide" src="{{ asset('img/slidergokuangel.jpg')}}" alt="Poster de sangoku volant vers le paradis avec le kaioshin, en hommage à Akira toriya, l'autheur de Dragon ball">
                </figure>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non animi sint nemo temporibus, nihil at ex adipisci doloremque voluptatum aliquid repudiandae eius veritatis, delectus sed itaque voluptatem vitae ipsam ratione praesentium? Laborum tempore blanditiis unde libero officiis perspiciatis nam soluta.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum alias corrupti aut distinctio deserunt necessitatibus modi, quasi iure voluptates quam neque laudantium et laborum velit earum a architecto blanditiis omnis?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda labore corporis et vitae obcaecati eaque eos recusandae culpa molestiae.</p>
            </article>

            <article class="text-news">

            <h3 class ="border-bottom border-dark pb-3 mb-3">Promo sur les cosplays en vue de la japon expo !</h3>
                <figure> 
                    <img class="img_slide" src="{{ asset('img/slidejapanexpo.jpg')}}" alt="Affiche promotionnel de la Japan Expo  démontrant la convention qui se deroulera du 11 au 14 juillet">
                </figure>

            <aside>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non animi sint nemo temporibus, nihil at ex adipisci doloremque voluptatum aliquid repudiandae eius veritatis, delectus sed itaque voluptatem vitae ipsam ratione praesentium? Laborum tempore blanditiis unde libero officiis perspiciatis nam soluta.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum alias corrupti aut distinctio deserunt necessitatibus modi, quasi iure voluptates quam neque laudantium et laborum velit earum a architecto blanditiis omnis?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda labore corporis et vitae obcaecati eaque eos recusandae culpa molestiae.</p>
            </aside>
            </article>

            <article class="text-news">
            <h3 class ="border-bottom border-dark pb-3 mb-3">Les animes du moments</h3>
            <article class="text-news">
                <figure> 
                    <img class="img_slide" src="{{ asset('img/anticipated-upcoming-anime-2024.jpg')}}" alt="Poster montrant les prochaines sortie animés, de gauche à droite, il y ">
                </figure>

                <p>Lorem ipsum dolor sit amet conseclass, ctetur adipisicing elit. Non animi sint nemo temporibus, nihil at ex adipisci doloremque voluptatum aliquid repudiandae eius veritatis, delectus sed itaque voluptatem vitae ipsam ratione praesentium? Laborum tempore blanditiis unde libero officiis perspiciatis nam soluta.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum alias corrupti aut distinctio deserunt necessitatibus modi, quasi iure voluptates quam neque laudantium et laborum velit earum a architecto blanditiis omnis?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda labore corporis et vitae obcaecati eaque eos recusandae culpa molestiae.</p>
            </article>

        </Section>
    </main>
{% endblock %}