{% extends "base.html.twig" %}
{% block title %}{{parent()}} -Page des Figurines{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('js/bootstrap.bundle.min.js')}}" defer></script>
        <script src="{{ asset('js/script.js')}}" defer></script>
        {% endblock %}
{% block body %}

<main>
<section>
<article class="textformate">
<h2>Comment faire un retour/échange ?</h2>

<p>Nous vous garantissons le remboursement de tout article acheté sur notre site si vous n’en êtes pas complètement satisfait. Pour ce faire il suffit d'enregistrer votre retour dans votre compte client.</p>
<p>Un bon de retour Mondial Relay peut directement être téléchargé dans votre compte client.</p>
</article>
    <article class="container-custom">
          <article class="row">
            <article class="col">
                <h3 class="border border-dark p-3 bg-dark text-white">NOS MÉTHODES DE RETOURS</h3>
                <p>Retours via Mondial Relay</p>
                <p>Retours via la Poste</p>
                <p>En boutique</p>
            </article>
            <article class="col">
            <h3 class="border border-dark p-3 bg-dark text-white">COÛT</h3>
                <p>Gratuit</p>
                <p>A vos frais (7 à 10 €)</p>
                <p>Gratuit</p>
            </article>
            <article class="col">
            <h3 class="border border-dark p-3 bg-dark text-white">COÛT *</h3>
                <p><a href="#retour1">En savoir plus</a></p>
                <p><a href="#retour2">En savoir plus</a></p>
                <p>Quel que soit le mode de livraison initial, vous pouvez nous retourner vos articles dans notre boutique</p>
         </article>
    </article>
</article>

    <article class="textformate">

    <p class="fw-bold">Attention : Les articles achetés en boutique ne peuvent être retournés qu'en boutique.</p>
    <p>Sous réserve d'éligibilité, nous vous proposons de nous retourner gratuitement vos articles par Mondial Relay via une procédure de retours facilités. Si vous ne souhaitez pas utiliser ce service, vous êtes libres de nous renvoyer vos articles non désirés par tout autre transporteur de votre choix à vos propres frais.</p>
    <p>A la réception de votre colis par nos services, vous serez remboursé dans un délai de 14 jours maximum par le même moyen qui vous a servi au paiement (CB, carte cadeau, Paypal ou virement). Le remboursement inclut les frais de port que vous auriez payé pour que l'on vous expédie votre commande.</p>
    <p>Les articles que vous souhaitez nous renvoyer doivent être neufs, non utilisés et non portés, dans leur emballage d’origine avec les étiquettes attachées aux produits. Les chaussettes sont considérées comme des sous-vêtements et ne peuvent donc pas être remboursées après essayage.</p>

    <h3 id="retour1">Pour réaliser un retour :</h3>
    <p>Rendez-vous dans votre compte client, puis dans le détail de la commande concernée pour indiquer les produits que vous souhaitez nous retourner et imprimer le bordereau de retour à glisser dans votre colis.</p>

    <h3 id="retour2">Pour nous faire parvenir votre retour via la procédure de retours facilités Mondial Relay :</h3>

    <p>Vous pouvez nous renvoyer un ou plusieurs articles de votre commande à l'adresse suivante via colissimo ou autre transporteur de votre choix :</p>

    <p>Euroservices Partner</p>

    <p>Stock ShonenStore</p>

    <p>42 rue de l’industrie</p>

    <p>45OOO Orléans</p>

    <p>France</p>

    <p>Veuiller à opter pour un transporteur effectuant des livraisons contre signature et à conserver le suivi de votre colis car vous en êtes responsable jusqu'à son retour dans notre entrepôt. Tout colis expédié à une autre adresse sera refusé.</p>

    <p>Tout échange d’article est actuellement impossible mais vous avez la possibilité de nous retourner les articles concernés. Pour obtenir une autre couleur ou une autre taille, il vous faudra passer une nouvelle commande sur le Site Internet.</p>
    </article>
    
</section>
</main>

{% endblock %}