/* Smartphone en mode portrait */
@media screen and (min-width: 360px) and (max-width: 767px){
    main{
        background-color: rgba(43, 1, 140, 0.815);
    }

    .img_slide{
        /* width: 35rem; */
        width: 100%;
    }
    
    h2 {
        padding: 0.5rem;
        font-size: 1rem;
        color:black;
        font-weight: bold;
        text-align: center;
    }
    
    h3{
        padding: 0.5rem;
        font-size: 0.7rem;
        color:black;
        text-align: center;
    }

    p{
        text-align: center;
    }

    /* Carousel */
    .slide figure {
        width: 100%;
    }
    .slide figcaption {
        width: 50%;
        display: inline;
        text-align: center;
    }

    .slides {
        padding-bottom: 2rem;
    }
    
    /* Container de tout les produits de la page produits */
    .imgproduct {
        width: 8rem;
    }

    .product-item {
        padding: 0.5rem;
        /* width: 30%; */
        border: none;
    }

    .product-item a {
        font-size: 0.5rem;
        border: 1px solid #ccc;
    }

    .product-item h3 {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
        font-size: 0.4rem;
    }

    .menu_filter h3 {
        font-size: 1rem;
      }
      .menu_filter a {
        font-size: 0.8rem;
      }

/* Container 1 selection produit */

.product_container_item {
    border: none;
    border-radius: 0;
    flex: initial;
    width: 90%;
    margin: 0.5rem; 
    padding: 0.5rem; 
}

.product_container_oneproduct {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    width: 100%;
}


.container_oneproduct p{
    font-size: 0.5rem;
}

.container_oneproduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.product_container_item a {
    font-size: 0.6rem; 
    padding: 0.3rem 0.6rem;
}
    
/* Page news */

.text-news p{
    font-size: 0.6rem;
}

/* Page conditions de ventes */

.Rules h3{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.w-100 {
    width: 50% !important;
}

/* Footer */
.footermenu {
    font-size: 0.5rem;
}

footer h3 {
    font-size: 0.5rem;
}

footer a {
    font-size: 0.6rem;
}
    
}


/* Smartphone en mode paysage */
@media screen and (min-width: 768px) and (max-width: 991px) {
    main{
        background-color: rgba(0, 128, 0, 0.815); /* Green background */
    }

    .img_slide{
        /* width: 35rem; */
        width: 100%;
    }
    
    h2 {
        padding: 0.5rem;
        font-size: 2rem;
        color:black;
        font-weight: bold;
        text-align: center;
    }
    
    h3{
        padding: 0.5rem;
        font-size: 1.5rem;
        color:black;
        text-align: center;
    }

    p{
        text-align: center;
    }

    /* Carousel */
    .slide figure {
        width: 100%;
    }
    .slide figcaption {
        width: 50%;
        display: inline;
        text-align: center;
    }

    .slides {
        padding-bottom: 2rem;
    }
    
    /* Container de tout les produits de la page produits */
    .imgproduct {
        width: 8rem;
    }

    .product-item {
        padding: 0.5rem;
        /* width: 30%; */
        /* border: none; */
    }

    .product-item a {
        font-size: 0.8rem;
        border: 1px solid #ccc;
        width: 80%;
    }

    .product-item h3 {
        font-size: 1rem;
    }

    .menu_filter h3 {
        font-size: 2rem;
      }
      .menu_filter a {
        font-size: 1.5rem;
      }

    /* Container 1 seul produit */

    .product_container_item {
        border: none;
        border-radius: 0;
        flex: initial;
        width: 90%;
        margin: 0.5rem; 
        padding: 0.5rem; 
    }
    
    .product_container_oneproduct {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        width: 100%;
    }
    
    
    .container_oneproduct p{
        font-size: 0.5rem;
    }
    
    .container_oneproduct {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    
    .product_container_item a {
        font-size: 0.6rem; 
        padding: 0.3rem 0.6rem;
        width: 20%;
    }
    
      /* Page news */

.text-news p{
    font-size: 1.4rem;
}

/* Page conditions de ventes */

.Rules h3{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.Rules p{
    font-size: 1.4rem;
}

.w-100 {
    width: 50% !important;
}

.textformate{
    font-size: 1.5rem;
}

/* Footer */
.footermenu {
    font-size: 1rem;
}

footer h3 {
    font-size: 1.5rem;
}

footer a {
    font-size: 1.3rem;
}
    
}

/* Version tablette */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    main{
        background-color: rgba(255, 165, 0, 0.815); /* Orange background */
    }
}

h2 {
    padding: 0.5rem;
    font-size: 2rem;
}

h3{
    padding: 0.5rem;
    font-size: 2rem;

}

p{
    text-align: center;
}

    /* Container de tout les produits de la page produits */

    .product-item {
        padding: 0.5rem;
        /* width: 30%; */
        /* border: none; */
    }

    .product-item a {
        font-size: 1.5rem;
    }

    .product-item h3 {
        font-size: 1.5rem;
    }

    .menu_filter h3 {
        font-size: 2.5rem;
      }
      .menu_filter a {
        font-size: 2rem;
      }

    /* Container 1 seul produit */

    .product_container_item p {
        text-align: center;
        font-size: 1.5rem;
    }
      .product_container_item a {
        width: 40%;
    }

          /* Page news */

.text-news p{
    font-size: 2rem;
}

/* Page conditions de ventes */

.Rules h3{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.Rules p{
    font-size: 2rem;
}

.container-custom {
    font-size: 1.5rem;
}

.textformate h2{
    font-size: 3rem;
}

.textformate{
    font-size: 2rem;
}

      /* Footer */
.footermenu {
    font-size: 1.5rem;
}

footer h3 {
    font-size: 2rem;
}

footer a {
    font-size: 1.8rem;
}