/* Les bases fixes */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/css/fonts/Helvetica.woff2') format('woff2');
    src: url('/css/fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Luciole';
    src: url('/css/fonts/Luciole-Regular.woff2') format('woff2');
    src: url('/css/fonts/Luciole-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    /* background-color: lightgray; */
    line-height: 1.5;
    height: 100vh;
    width: 100vw;
    font-family: 'Luciole', sans-serif;
}

img, video {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    padding: 0.5rem;
    font-size: 4rem;
    color: #ad4;
    text-align: center;
}

h2 {
    padding: 0.5rem;
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

h3 {
    padding: 0.5rem;
    font-size: 3rem;
    color: black;
}

h4{
    font-size: 2.5rem;
}

.border-bottom {
    border-bottom: 4rem solid black;
    padding-bottom: 10px;
}

p{
    font-size: 2rem;
    padding-block-end: 2rem;
    padding-block-start: 2rem;
}

/* Banniere */

.Banniere {
    background-image: url(../img/EXrI7OUU8AAw9J0.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Barre de recherche */

#headerSearchForm {
    position: relative;
}

.search-results-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.search-result-item a {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    margin-right: auto;
}

.search-result-item p {
    margin: 0;
    color: #555;
}



/* Header, FAQ, burger */


.imgicons {
    width: 1.5rem;
    height: 1.5rem;
}

.btn-outline-success {
    font-size: 2rem;
}

.navbar-toggler {
    font-size: 2rem;
}
.nav-link {
    font-size: 1.5rem;
}


/* Main */

main {
    margin-inline: auto;
    /* background-color: rgba(239, 224, 206, 0.815); */
    background-color: orange;
    padding: 1rem;
}

/* Slider */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.slide figure {
    width: 50%;
}

.slide figcaption {
    width: 50%;
    padding: 0 1rem;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    width: 2rem;
    line-height: 15rem;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Img */

.imgproduct {
    width: 10rem;
}

/* Container de tous les produits de la page produits */


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    width: 50%;
}

.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fdfdfd;
}

.product-item img {
    max-width: 100%;
}

.product-item h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.product-item a {
    margin-top: 1.5rem;
    background-color: rgba(243, 235, 235, 0.422);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: black;
    opacity: 75%;
}

.products-and-filters {
    display: flex;
    justify-content: space-between;
}

.product-container {
    flex: 1;
}

/* Affichage prix javascript */

.priceJs {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/* Container one product */

.container_oneproduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.product_container_oneproduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 50%;
}

.img_product_one {
    width: 100%;
}

.img_oneproduct {
    width: 50%;
}

.product_container_item {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem;
    padding: 1rem;
    flex: 1;
    width: 100%;
}

.product_container_item a {
    background-color: rgb(168, 140, 103);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    opacity: 75%;
}

/* Container hidden */

.img-container {
    position: relative;
    display: inline-block;
}

/* .price-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
} */

/* Grid de les conditions de ventes et de retour */

.container-custom {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-inline: 2rem;
    text-align: center;
}

.container-custom p,
.container-custom h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: grey;
    color: white;
    border: black 1rem;
    padding: 2rem;
}

.textformate {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: justify;
}

.textformate p {
    margin-bottom: 1rem;
}

.textformate h3 {
    text-decoration: underline;
    font-weight: bold;
}

/* Page FAQ */

.hidden {
    display: none;
}

.content {
    text-align: justify;
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.faq_container {
    display: flex;
    margin: 2rem;
}

.faq_text {
    flex: 1;
}

.faq_text h3 {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fdfdfd88;
}

.faq_text article {
    margin-bottom: 2rem;
}

.menu_filter_faq {
    width: 25%;
    padding: 7%;
}

.menu_filter_faq a {
    font-size: 2rem;
}

.menu_filter a {
    font-size: 2rem;
}

/* Form */

.form-label {
    font-size: 2rem;
}

.form-control {
    font-size: 2rem;
}

.btn-primary {
    font-size: 2rem;
}

/* Page FAQ */

.content {
    font-size: 2rem;
}

/* Table ship */

.table {
    font-size: 2rem;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: 2rem;
}

.btn-info {
    font-size: 2rem;
}

.btn-warning {
    font-size: 2rem;
}

.btn-danger {
    font-size: 2rem;
}

/* Footer */

footer {
    background-color: palegreen;
}

footer h3 {
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 0.5rem;
}

.footermenu {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.footermenu article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer p {
    padding-block-end: 0rem;
    padding-block-start: 0rem;
}

/* Mise en page adaptative */

/* Smartphone en mode portrait */
@media screen and (min-width: 320px) and (max-width: 767px) {

/* main {
    background-color: rgba(43, 1, 140, 0.815);
} */

.img_slide {
    width: 100%;
}

h2 {
    padding: 0.5rem;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

h3{
    padding: 0.5rem;
    font-size: 2.0rem;
    color: black;
}

p{
    font-size: 1.5rem;
    padding-block-end: 2rem;
    padding-block-start: 2rem;
}

/* Header */

h1 {
    font-size: 5rem;
}

.Banniere {
    height: 25rem;
}

.btn-outline-success {
    font-size: 2rem;
}

.navbar-toggler {
    font-size: 2rem;
}
.nav-link {
    font-size: 1.5rem;
}

/* Carousel */

article.slide{
    flex-direction: column;
}

.slide figure{
    width: 100%;
}

.slide figcaption{
    padding-block-start: 3rem;
}

.slide p {
    font-size: 1.8rem;
}

.carousel button {
    font-size: 2rem;
}

/* Page News */

.text-news h3{
    font-size: 2.5rem;
    padding-block-end: 2rem;
}

.text-news p{
    font-size: 2rem;
    padding: 2rem;
}

.text-news img{
    width: 80%;
}

/* Product Page */

.menu_filter {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center; 
}

.menu_filter ul {
    list-style: none; 
    padding: 0;
    margin: 0; 
    display: inline-block;
}
    
.menu_filter li {
    display: inline;
    margin-right: 1rem;
}

.products-and-filters {
    flex-direction: column;
    align-items: center;
}

.product-container {
    width: 90%;
}

.menu_filter_faq {
    width: 50%;

} 

.product-item h3 {
    text-align: center;
}

.product_container_item {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.product_container_oneproduct {
    flex-wrap: nowrap;
    width: 80%;
}

/* Page text hidden */

.content{
    font-size: 1.8rem;
}

/* Page ship's rules */

.textformate p {
    margin-bottom: 1rem;
    font-size: 2rem;
}

/* Form*/

.form-label {
    font-size: 2rem;
}

.form-control {
    font-size: 1.5rem;
}

.btn-primary {
    font-size: 1.5rem;
}

/* Table ship */

.table {
    font-size: 1rem;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: 0.7rem;
    margin-block-end: 1rem;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: 0.7rem;
}

.btn-info {
    font-size: 1.5rem;
}

.btn-warning {
    font-size: 1.5rem;
}

.btn-danger {
    font-size: 0.7rem;
}

    
/* footer */

.footermenu {
    font-size: 1.5rem;
}

.footer h3{
    font-size: 1.8rem;
}

footer p {
    font-size: 1.5rem;
    padding-block-end: 0rem;
    padding-block-start: 0rem;
}
}

/* Smartphone en mode paysage */
@media screen and (min-width: 768px) and (max-width: 1023px) {
/* main {
    background-color: rgba(43, 1, 140, 0.815);
} */

.img_slide {
    width: 100%;
}

h2 {
    font-size: 4rem;
    text-align: center;
}

h3 {

    font-size: 3rem;
}

p{
        font-size: 3rem;
        padding-block-end: 2rem;
        padding-block-start: 2rem;
}

/* Header */

h1 {
    font-size: 6rem;
}

.Banniere {
    height: 25rem;
}

.btn-outline-success {
    font-size: 3rem;
}

.navbar-toggler {
    font-size: 3rem;
}
.nav-link {
    font-size: 2rem;
}

/* Carousel */

.img_slide {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article.slide{
    flex-direction: column;
}

.slide figure{
    width: 100%;
}

.slide figcaption{
    padding-block-start: 3rem;
}

.carousel button {
    font-size: 3rem;
}

/* Page News */

.text-news h3{
    font-size: 3rem;
    text-align: center;
    padding-block-end: 2rem;
}
    
.text-news p{
    font-size: 2.5rem;
    padding: 2rem;
}
    
.text-news img{
    width: 80%;
}

/* Menu_filter + text hidden */

.menu_filter_faq a {
    font-size: 2.5rem;
}

.content {
    font-size: 2.5rem;
}

/* Product Page */

.menu_filter {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center; 
}

.menu_filter ul {
    list-style: none; 
    padding: 0;
    margin: 0; 
    display: inline-block;
}

.menu_filter li {
    display: inline;
    margin-right: 1rem;
}

.menu_filter a {
    font-size: 2rem;
}

.product_container_oneproduct {
    width: 90%;
}

.product_container_item a {
    font-size: 3rem;
}

.products-and-filters {
    flex-direction: column;
}

.product-container {
    width: 90%;
}

/* Form */

.form-label {
    font-size: 3rem;
}

.form-control {
    font-size: 3rem;
}

.btn-primary {
    font-size: 3rem;
}

/* Page Ship table */

.d-flex p {
    font-size: 2rem;
}

/* Table ship */

.table {
    font-size: 3rem;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: 3rem;
}

.btn-info {
    font-size: 3rem;
}

.btn-warning {
    font-size: 3rem;
}

.btn-danger {
    font-size: 3rem;
}

/* Footer */

footer h3 {
    font-size: 3rem;
}

.footermenu {
    font-size: 2.5rem;
}

footer p {
    font-size: 1.5rem;
    padding-block-end: 0rem;
    padding-block-start: 0rem;
}
}

/* Tablette et petite ordinateur */
@media screen and (min-width: 1024px){
    main {
        background-color: rgba(239, 224, 206, 0.815);
    }

.img_slide {
    width: 50%;
}

/* Header */

h1 {
    font-size: 6rem;
}

.Banniere {
    height: 20rem;
}

.btn-outline-success {
    font-size: 1rem;
}

.nav-link {
    font-size: 1.2rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
    padding-block-end: 2rem;
}

h4{
    font-size: 2rem;
}

p {
    font-size: 2rem;
    padding-block-end: 2rem;
    padding-block-start: 2rem;
}

/* Carousel */

.slide figure img{
    width: 100%;
}

.carousel button {
    font-size: 2rem;
}

/* Page FAQ */

.content {
    font-size: 2rem;
}

/* Page product */

.menu_filter {
    position: sticky;
    left: 0;
    z-index: 1;
    padding: 1rem; 
}

.menu_filter_faq a {
    font-size: 2rem;
}

.menu_filter a {
    font-size: 2rem;
}

.products-and-filters {
    flex-direction: row;
}

.product-container {
    width: 50%;
}

.product_container_item a {
    font-size: 2rem;
}

.product_container_item {
    margin: 2rem;
    padding: 0rem;
    flex: 1;
    font-size: 2rem;
}

/* Page News */

.Articles-news{
    padding: 1rem;
}



/* Form */

.form-label {
    font-size: 2rem;
}

.form-control {
    font-size: 2rem;
}

.btn-primary {
    font-size: 2rem;
}


/* Page table ship*/

.d-flex p {
    font-size: 1.5rem;
}

/* Table ship */

.table {
    font-size: 2rem;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: 2rem;
}

.btn-info {
    font-size: 2rem;
}

.btn-warning {
    font-size: 2rem;
}

.btn-danger {
    font-size: 2rem;
}

/* Footer */

footer h3 {
    font-size: 2.5rem;
}

footer p {
    font-size: 2rem;
    padding-block-end: 0rem;
    padding-block-start: 0rem;
}

.footermenu {
    font-size: 2rem;
}

}