{% extends "base.html.twig" %}

{% block body %}
<main>
    <div class="row">
        <div class="col">
            <h2>Manga Administration</h2>

            {% include "_inc/notice.html.twig" %}
            <p>
                <a href="{{ url('admin.manga.form') }}" class="btn btn-info">Add</a>
            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Button</th>
                    </tr>
                </thead>
                <tbody>
                    {% for manga in mangas %}
                        <tr>
                            <td>{{ manga.name }}</td>
                            <td>
                                <a href="{{ url('admin.manga.form.remove', { id: manga.id} ) }}" class="btn btn-danger">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
