    <footer>
        <section class="footermenu">
            <article>
                <h3>Notre société</h3>
                <a href="{{url('other.cdeventes')}}">Conditions de vente</a>
                <a href="{{url('other.livraison')}}">Frais et delai de livraison</a>
                <a href="{{url('other.retours')}}">Politique de retour</a>
                <a href="{{url('other.contactus')}}">Contactez-nous</a>
            </article>

            <article>
                <h3>Votre compte</h3>
                <a href="/admin/">Informations personnelles</a>
                <a href="/admin/my_bag.php">Commandes</a>
            </article>

            <article>
                <h3>Infos</h3>
                <p>Shonen World</p>
                <p>3 rue du Mont corvo</p>
                <p>45000 Orléans</p>
                <p>E-mail : contact@shonen-world.com</p>
                <p>Tel : 02 38 42 24 42</p>
            </article>
        
        </section>
        
    </footer>